/* NavBar */
.navbar {
  position: fixed !important;
  top: 0;
  z-index: 1030;
  height: 10vh;
  width: 100%;
  background: #0a172f;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  padding: 0px 40px !important;
  margin: 20px 0px;
}

/* SideBar */
.left-sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1200;
  position: fixed;
  top: 420px;
  left: 8px;
}

.left-sidebar .bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1200;
  position: fixed;
  width: 2px;
  height: 150px;
  top: 600px;
  left: 19px;
  background: #8892b0;
}

.left-sidebar a {
  transition: transform 0.3s;
}

.left-sidebar i {
  font-size: 1.6rem;
  color: #8892b0;
  transition: color 0.3s ease-in;
}

.left-sidebar :hover{
  transform: translateY(-1px);
}

.left-sidebar :hover i{
  color: #4fb;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1200;
  position: fixed;
  top: 470px;
  right: -55px;
}

.right-sidebar a {
  transform: rotate(90deg);
  color: #8892b0;
  text-decoration: none;
  font-size: 0.8em;
}

.right-sidebar p {
  transition: color 0.3s ease-in , transform 0.5s ease;
}

.right-sidebar a :hover{
  color: #4fb;
  transform: translateX(-2px);
}

.right-sidebar .bar {
  display: flex;
  flex-direction: column;
  z-index: 1200;
  position: fixed;
  width: 2px;
  height: 150px;
  top: 600px;
  right: 19px;
  background: #8892b0;
}


/* Hero */
.hero h3 {
  color: #4fb;
}

.hero {
  min-height: 80vh;
  background-image: url(/fondoGrisRombo.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 10vh 0px 10vh 0px;
}


.img-container {
  display: flex;
  width: 250px;
  height: 280px;
  margin: 20px;
}

.img-juan {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #4fb;
  object-fit: cover;
  object-position: top;
}

/* About Me */

.about-me p {
  color: #8892b0;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 87vh;
  margin-top: 13vh;
}

.about-me-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20vw;
  max-width: 330px;
  margin-right: 70px
}

.about-me-description {
  text-align: left;
  width: 60vw;
  max-width: 1000px;
}

.highlighted-text {
  color: #4fb;
}

.cv-button {
  color: #4fb;
  background: #0a172f;
  border: 2px solid #4fb;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  margin-top: 20px;
  transition: background 0.3s, border 0.3s ease;
}

.cv-button:hover {
  color: #0a172f;
  background: #4fb;
  border: 2px solid #4fb;
  font-weight: bold;
  transition: all 0.5s;
}

/* Projects */
.project h3 {
  color: #4fb;
}

.projects p {
  color: #8892b0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  min-height: 100vh;
}

.projects-container {
  margin-top: 11px;
}

.project-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 425px;
  max-height: 80vh;
  width: 80%;
  margin-top: 20px;
  position: relative;
  border: 3px solid #8892b0;
  border-radius: 15px;
}

.project img {
  height: 300px;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 15px 15px 0px 0px;
  display: block;
  transition: opacity 0.3s ease;
}

.project-description {
  height: 28%;
  width: 80%;
  transition: opacity 0.3s ease;
}



.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  opacity: 0.2;
}

.project:hover .project-description {
  opacity: 0.3;
}


.overlay-icons i {
  color: #8892b0;
  font-size: 60px;
  margin: 10px;
  transition: color 0.3s ease-in;
}


.overlay-icons i:hover {
  color: #4fb;
}

/* Technologies */

.technologies h1 {
  justify-self: start;
  margin-bottom: 100px;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin-top: 13vh;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 70vw;
  padding: 30px;
  text-align: center;

}

.technologies-container i {
  color: #8892b0;
  font-size: 45px;
  transition: color 0.2s ease;
}

.technologies-container p {
  font-weight: 900;
  color: #8892b0;
  transition: color 0.2s ease;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 10px 0px 10px;
}

.technologie {
  width: 75%;
  height: auto;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in;
}

.technologie:hover {
  box-shadow: 0 0 20px rgba(4, 241, 126, 0.791), 0 0 40px rgba(15, 97, 114, 0.589);
  /* Sombra en hover */
}

.technologie:hover i {
  color: #4fb;
}

.technologie:hover p {
  color: #4fb;
}

.technologie i,
.technologie p {
  pointer-events: none;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  margin-top: 100px;
}

.contact-container {
  padding-top: 13px;
  background: #a8b2d1;
  width: 600px;
  height: 150px;
  border-radius: 20px;
  transition: background 0.3s ease-in, box-shadow 0.3s ease-in;
}

.contact-container:hover {
  background: #4fb;
  box-shadow: 5px 5px 11px 1px rgba(43, 244, 141, 0.4);
  -webkit-box-shadow: 5px 5px 11px 1px rgba(10, 233, 92, 0.4);
  -moz-box-shadow: 5px 5px 11px 1px rgba(34, 201, 12, 0.4);
}

.contact {
  color: #0a172f;
  text-align: center;
}


/* Footer */
footer {
  min-height: 50vh;
}


.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.social-network-icons a {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 85px 10px 10px 10px;
  border: 2px solid #8892b0;
  border-radius: 50%;
  transition: transform 0.2s ease-in , border 0.2s ease-in;
}

.social-network-icons i {
  color: #8892b0;
  font-size: 1.9rem;
  transition: color 0.2s ease-in;
}

.social-network-icons a:hover {
  border: 2px solid #4fb;
  transform: translateY(-2px);
}

.social-network-icons a:hover i {
  color: #4fb;
}

.copyrights p {
  font-size: 15px;
  color: #8892b0;
  padding: 20px;
  transition: color 0.3s ease-in;
}

.copyrights :hover {
  color: #4fb;
}



@media screen and (max-width: 1200px) {

  /* Projects */
  .projects-container {
    margin-top: 5px;
  }

  .project {
    height: 425px;
    max-height: 80vh;
    width: 80%;
  }

  .project img {
    height: 280px;
    width: 100%;
  }

  .project-description {
    height: 33%;
    width: 80%;
  }

  /* SideBar */


  .left-sidebar {
    top: 400px;
    left: 10px;
  }


  .left-sidebar i {
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 990px) {

  .project {
    height: 350px;
    max-height: 80vh;
    width: 65%;
    margin-top: 30px;
  }

  .project img {
    height: 230px;
  }

  .project-description {
    height: 33%;
  }


  .technologies-container i {
    color: #4fb;
  }
  
  .technologies-container p {
    color: #4fb;
  }

  .social-network-icons a {
    border: 2px solid #4fb;
  }
  
  .social-network-icons i {
    color: #4fb;
  }
  
}



/* Responsive */
@media screen and (max-width: 767px) {

  /* NavBar */
  .navbar-brand {
    display: none;
  }

  .navbar {
    position: static !important;
    z-index: auto;
    top: auto;
    height: auto;
  }

  .nav-container {
    text-align: center;
  }

  /* SideBar */
  .side-bar {
    display: none;
  }

  /* Hero */
  .hero {
    margin: auto;
  }

  .img-container {
    height: 180px;
    width: 180px;
  }

  /* About me */
  .about-me-container {
    display: flex;
    flex-direction: column;
  }

  .about-me-title {
    width: 200px;
    margin: 7px;
  }

  .cv-button {
    border: 2px solid #322;
    border-radius: 4px;
    font-size: 0.75em;
    padding: 4px;
    margin: 10px;
  }

  .about-me-description {
    text-align: center;
    width: 450px;
    padding: 5px;
  }


  /* Proyectos */

  .projects-container {
    margin-top: 10px;
  }


  .project {
    height: 280px;
    width: 65%;
    margin-bottom: 30px;
  }

  .project img {
    height: 250px;
    width: 100%;
    padding-bottom: 5px;
  }

  .project-description {
    height: 31%;
    width: 95%;
  }

  .overlay {
    display: none;
  }

  /* Technologies */
  .technologies-container i {
    font-size: 35px;
  }

  /* Contact */

  .contact-container {
    width: 400px;
    height: 120px;
  }

  /* Footer */
  .social-network-icons a {
    width: 45px;
    height: 45px;
  }

  .social-network-icons i {
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 460px) {

  /* Hero */
  .img-container {
    height: 160px;
    width: 160px;
  }

  /* About me */
  .about-me-container {
    margin-top: auto;
  }

  .about-me-description {
    width: 280px;
  }

  /* Projects */
  .projects-container {
    margin-top: 10px;
  }


  .project {
    height: 240px;
    width: 80%;
    margin-bottom: 30px;
  }

  .project img {
    height: 200px;
    width: 100%;
    padding-bottom: 5px;
  }

  .project-description {
    height: 31%;
    width: 95%;
  }

  /* Technologies */

  /* Contact */
  .contact {
    height: 100px;
  }

  .contact-container {
    width: 230px;
    height: 90px;
    top: 50px;
  }

  /* Footer */
  .social-network-icons a {
    width: 40px;
    height: 40px;
  }

  .social-network-icons i {
    font-size: 1.1rem;
  }
}