/* Estilos Generales */



/* NavBar */
.navbar {
  position: fixed !important;
  top: 0;
  z-index: 1030;
  height: 10vh;
  width: 100%;
  background: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  padding: 0px 40px !important;
  margin: 20px 0px;
}

/* Hero */
.hero h1 {
  color: #000;
}

.hero {
  min-height: 80vh;
  background-image: url(/fondoGrisRombo.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 10vh 0px 10vh 0px;
}


.img-container {
  display: flex;
  width: 250px;
  height: 280px;
  margin: 20px;
}

.img-juan {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #000;
  object-fit: cover;
  object-position: top;
}

/* About Me */
.about-me {
  background: #000;
}

.about-me h1 {
  color: #fff;
}

.about-me p {
  color: #bbb;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 87vh;
  margin-top: 13vh;
}

.about-me-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  max-width: 330px;
  margin-right: 70px
}

.about-me-description {
  text-align: left;
  width: 60vw;
  max-width: 1000px;
}

.cv-button {
  color: #544;
  font-weight: bold;
  background: #000;
  border: 3px solid #322;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  margin-top: 20px;
  transition: background 0.3s, border 0.3s ease;
}

.cv-button:hover {
  background: #111;
  border: 3px solid #544;
}

/* Projects */

.projects h1 {
  color: #000;
}

.projects h3 {
  color: #fff;
}

.projects p {
  color: #a99;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  min-height: 100vh;
}

.projects-container {
  margin-top: 11px;
}

.project-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 425px;
  max-height: 80vh;
  width: 80%;
  margin-top: 20px;
  position: relative;
  border: 3px solid #000;
  border-radius: 15px;
  background: #000;
}

.project img {
  height: 300px;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 15px 15px 0px 0px;
  display: block;
  transition: opacity 0.3s ease;
}

.project-description {
  height: 28%;
  width: 80%;
  transition: opacity 0.3s ease;
}



.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  opacity: 0.3;
}

.project:hover .project-description {
  opacity: 0.3;
}


.overlay i {
  color: #f5f6f7;
  font-size: 60px;
  margin: 10px;
}

/* Technologies */

.technologies h1 {
  color: #fff;
  justify-self: start;
  margin-bottom: 100px;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin-top: 13vh;
  background: #000;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  padding: 30px;
}

.technologies-container i {
  color: #f5f6f7;
  font-size: 45px;
}

.technologies-container p {
  font-weight: 900;
  color: #f5f6f7;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.technologie {
  width: 75%;
  height: auto;
  background-color: #000;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.technologie:hover {
  box-shadow: 0 0 20px rgba(245, 243, 243, 0.863), 0 0 40px rgba(255, 255, 255, 0.589);
  /* Sombra en hover */
}

.technologie i,
.technologie p {
  pointer-events: none;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  background: #000;
}

.contact-container {
  padding-top: 13px;
  background: #544;
  width: 600px;
  height: 150px;
  border-radius: 20px;
  border: 3px solid #bbb;
  box-shadow: 5px 5px 11px 1px rgba(6, 6, 6, 0.75);
  -webkit-box-shadow: 5px 5px 11px 1px rgba(6, 6, 6, 0.75);
  -moz-box-shadow: 5px 5px 11px 1px rgba(6, 6, 6, 0.75);
  position: relative;
  top: 150px;
}

.contact {
  color: #fff;
  text-align: center;
}

.contact p {
  color: #ccc;
}

/* Footer */
footer {
  min-height: 50vh;
}


.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.social-network-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.social-network-icons i {
  color: #000;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.social-network-icons a:hover {
  background-color: #000;
}

.social-network-icons a:hover i {
  color: #fff;
}

.copyrights {
  font-size: 15px;
  color: #000;
  padding: 20px;
}



@media screen and (max-width: 1200px) {
  .projects-container {
    margin-top: 5px;
  }
  
  .project {
    height: 425px;
    max-height: 80vh;
    width: 80%;
    margin-top: 20px;
    position: relative;
    border: 3px solid #000;
    border-radius: 15px;
    background: #000;
  }
  
  .project img {
    height: 280px;
    width: 100%;
  }
  
  .project-description {
    height: 33%;
    width: 80%;
  }
}

@media screen and (max-width: 990px) {
  
  .project {
    height: 350px;
    max-height: 80vh;
    width: 65%;
    margin-top: 30px;
  }
  
  .project img {
    height: 230px;
  }
  
  .project-description {
    height: 33%;
  }
    
  }



/* Responsive */
@media screen and (max-width: 767px) {

  /* NavBar */
  .navbar-brand {
    display: none;
  }

  .navbar {
    position: static !important;
    z-index: auto;
    top: auto;
    height: auto;
  }

  .nav-container {
    text-align: center;
  }

  /* Hero */
  .hero {
    margin: auto;
  }

  .img-container {
    height: 180px;
    width: 180px;
  }

  /* About me */
  .about-me-container {
    display: flex;
    flex-direction: column;
  }

  .about-me-title {
    width: 180px;
    margin: 7px;
  }

  .cv-button {
    border: 2px solid #322;
    border-radius: 4px;
    font-size: 0.75em;
    padding: 4px;
    margin: 10px;
  }

  .about-me-description {
    text-align: center;
    width: 450px;
    padding: 5px;
  }

  /* Proyectos */

  .projects-container {
    margin-top: 10px;
  }


  .project {
    height: 280px;
    width: 65%;
    margin-bottom: 30px;
  }

  .project img {
    height: 250px;
    width: 100%;
    padding-bottom: 5px;
  }

  .project-description {
    height: 31%;
    width: 95%;
  }

  .overlay {
    display: none;
  }

  /* Technologies */
  .technologies-container i {
    font-size: 35px;
  }

  /* Contact */

  .contact-container {
    width: 400px;
    height: 120px;
  }

  /* Footer */
  .social-network-icons a {
    width: 45px;
    height: 45px;
  }

  .social-network-icons i {
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 460px) {

  /* Hero */
  .img-container {
    height: 160px;
    width: 160px;
  }

  /* About me */
  .about-me-container {
    margin-top: auto;
  }

  .about-me-description {
    width: 280px;
  }

  /* Projects */
  .projects-container {
    margin-top: 10px;
  }


  .project {
    height: 240px;
    width: 80%;
    margin-bottom: 30px;
  }

  .project img {
    height: 200px;
    width: 100%;
    padding-bottom: 5px;
  }

  .project-description {
    height: 31%;
    width: 95%;
  }

  /* Technologies */

  /* Contact */
  .contact {
  height: 100px;
}

  .contact-container {
    width: 230px;
    height: 90px;
    top: 50px;
  }

  /* Footer */
  .social-network-icons a {
    width: 40px;
    height: 40px;
  }

  .social-network-icons i {
    color: #000;
    font-size: 1.1rem;
  }
}