.app {
  display: flex;
  flex-flow: column wrap;
  gap: 20vh;
}

/* NavBar */
.navbar {
  position: fixed !important;
  top: 0;
  z-index: 1030;
  height: 10vh;
  width: 100%;
  background: #0a172f;
}

.nav-container {
  padding: 0px 40px !important;
  margin: 0px 0px;
}

.navbar-nav {
  padding-bottom: 5px;
}

.nav-item a {
  color: #8892b0 !important;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.nav-item a:hover {
  color: #4fb !important;
  border-bottom: 1px solid #4fb;
}

/* SideBar */
.left-sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1200;
  position: fixed;
  top: 420px;
  left: 8px;
}

.left-sidebar .bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1200;
  position: fixed;
  width: 2px;
  height: 150px;
  top: 600px;
  left: 19px;
  background: #8892b0;
}

.left-sidebar a {
  transition: transform 0.3s;
}

.left-sidebar i {
  font-size: 1.6rem;
  color: #8892b0;
  transition: color 0.3s ease-in;
}

.left-sidebar :hover {
  transform: translateY(-1px);
}

.left-sidebar :hover i {
  color: #4fb;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1200;
  position: fixed;
  top: 470px;
  right: -55px;
}

.right-sidebar a {
  transform: rotate(90deg);
  color: #8892b0;
  text-decoration: none;
  font-size: 0.8em;
}

.right-sidebar p {
  transition: color 0.3s ease-in, transform 0.5s ease;
}

.right-sidebar a :hover {
  color: #4fb;
  transform: translateX(-2px);
}

.right-sidebar .bar {
  display: flex;
  flex-direction: column;
  z-index: 1200;
  position: fixed;
  width: 2px;
  height: 150px;
  top: 600px;
  right: 19px;
  background: #8892b0;
}

/* Hero */
.hero h3 {
  color: #4fb;
}

.hero {
  min-height: 80vh;
  background-image: url(/fondoGrisRombo.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

.img-container {
  display: flex;
  width: 250px;
  height: 280px;
  margin: 20px;
}

.img-juan {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #4fb;
  background: #0a172f;
  object-fit: cover;
  object-position: center;
}

/* About Me */
#sobre-mi {
  scroll-margin-top: 12vh;
}

.about-me p {
  color: #8892b0;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 87vh;
}

.about-me-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20vw;
  max-width: 330px;
  margin-right: 70px;
}

.about-me-description {
  text-align: left;
  width: 60vw;
  max-width: 1000px;
}

.about-me-highlighted-text {
  color: #4fb;
}

.cv-button {
  color: #4fb;
  background: #0a172f;
  border: 2px solid #4fb;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  margin-top: 20px;
  transition: background 0.3s, border 0.3s ease;
}

.cv-button:hover {
  color: #0a172f;
  background: #4fb;
  border: 2px solid #4fb;
  font-weight: bold;
  transition: all 0.5s;
}

/* Projects */
#proyectos {
  scroll-margin-top: 12vh;
}

.projects-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 80vh;
}

/* Contenedor de cada proyecto */
.project-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 70%;
}

/* Proyecto individual */
.project {
  position: relative;
  border-radius: 10px;
  border: 2px solid #8892b0;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

/* Imagen del proyecto */
.project img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 0px 0px;
  transition: opacity 0.3s ease-in-out;
}

/* Hover para overlay */
.project:hover img {
  opacity: 0.1;
}

.project:hover .project-description {
  opacity: 0.8;
}

.project-description {
  padding: 20px;
}

.project-description h3 {
  color: #4fb;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.project:hover .overlay {
  opacity: 1;
}

/* Íconos del overlay */
.overlay-icons i {
  color: #8892b0;
  font-size: 50px;
  margin: 10px;
  transition: color 0.3s ease-in-out;
}

.overlay-icons i:hover {
  color: #4fb;
}

/* Technologies */
#tecnologias {
  scroll-margin-top: 10vh;
}

.technologies h1 {
  justify-self: start;
  margin-bottom: 50px;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5vh;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 70vw;
  padding: 30px;
  text-align: center;
}

.technologies-container i {
  color: #8892b0;
  font-size: 45px;
  transition: color 0.2s ease;
}

.technologies-container p {
  font-weight: 900;
  color: #8892b0;
  transition: color 0.2s ease;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 10px 0px 10px;
}

.technologie {
  width: 75%;
  height: auto;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in;
}

.technologie:hover {
  box-shadow: 0 0 20px rgba(4, 241, 126, 0.791),
    0 0 40px rgba(15, 97, 114, 0.589);
  /* Sombra en hover */
}

.technologie:hover i {
  color: #4fb;
}

.technologie:hover p {
  color: #4fb;
}

.technologie i,
.technologie p {
  pointer-events: none;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.contact-container {
  padding-top: 13px;
  background: #a8b2d1;
  width: 600px;
  height: 150px;
  border-radius: 20px;
  transition: background 0.3s ease-in, box-shadow 0.3s ease-in;
}

.contact-container:hover {
  background: #4fb;
  box-shadow: 5px 5px 11px 1px rgba(43, 244, 141, 0.4);
  -webkit-box-shadow: 5px 5px 11px 1px rgba(10, 233, 92, 0.4);
  -moz-box-shadow: 5px 5px 11px 1px rgba(34, 201, 12, 0.4);
}

.contact {
  color: #0a172f;
  text-align: center;
}

/* Footer */
footer {
  min-height: 50vh;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

.social-network-icons a {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 85px 10px 10px 10px;
  border: 2px solid #8892b0;
  border-radius: 50%;
  transition: transform 0.2s ease-in, border 0.2s ease-in;
}

.social-network-icons i {
  color: #8892b0;
  font-size: 1.9rem;
  transition: color 0.2s ease-in;
}

.social-network-icons a:hover {
  border: 2px solid #4fb;
  transform: translateY(-2px);
}

.social-network-icons a:hover i {
  color: #4fb;
}

.copyrights p {
  font-size: 15px;
  color: #8892b0;
  padding: 20px;
  transition: color 0.3s ease-in;
}

.copyrights :hover {
  color: #4fb;
}

@media screen and (max-width: 1199px) {
  /* SideBar */
  .left-sidebar {
    top: 400px;
    left: 10px;
  }
  .left-sidebar i {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 990px) {
  .technologies-container i {
    color: #a8b2d1;
  }

  .social-network-icons i {
    color: #a8b2d1;
  }
}

/* Responsive */
@media screen and (max-width: 767px) {
  .app {
    gap: 12vh;
  }

  /* NavBar */
  .nav-container {
    margin: 0px;
  }

  .navbar{
    padding: 0px !important;
  }

  .nav-item a {
    color: #8892b0 !important;
    font-size: 12px;
    padding: 4px;
  }

  .navbar-toggler {
    width: 37px;
    height: 32px;
    padding: 4px 4px !important;
  }

  .navbar-toggler-icon {
    color: #a8b2d1 !important;
    width: 20px !important;
    height: 20px !important;
  }

  .navbar-collapse {
    width: 100vw;
    background-color: #0a172f;
    padding: 0px 40px;
    margin: 5px 0px;
    position: absolute;
    top: 56px; 
    left: 0;
    z-index: 1000;
  }

  /* SideBar */
  .side-bar {
    display: none;
  }

  /* Hero */
  .hero {
    margin-top: 12vh;
    width: 100%;
  }

  .img-container {
    height: 180px;
    width: 180px;
  }

  /* Projects */
  .project-col {
    width: 90%;
  }

  /* About me */
  .about-me-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
  }

  .about-me-title {
    width: 200px;
    margin: 7px;
  }

  .cv-button {
    border: 2px solid #4fb;
    border-radius: 4px;
    font-size: 0.75em;
    padding: 4px;
    margin: 10px;
  }

  .about-me-description {
    text-align: center;
    width: 450px;
    padding: 5px;
  }

  /* Proyectos */
  .overlay {
    opacity: 1;
    position: static;
    transform: translate(-0%, -0%);
    text-align: center;
  }

  .overlay-icons i {
    color: #a8b2d1;
    font-size: 30px;
  }

  /* Technologies */
  .technologies {
    min-height: 50vh;
  }
  .technologies-container i {
    font-size: 35px;
  }

  /* Contact */

  .contact-container {
    width: 400px;
    height: 120px;
  }

  .contact-highlighted-text {
    color: #4fb;
  }

  /* Footer */
  .social-network-icons a {
    width: 45px;
    height: 45px;
  }

  .social-network-icons i {
    font-size: 1.3rem;
  }

  .copyrights p {
    font-size: 9px;
    color: #8892b0;
    padding: 20px;
    transition: color 0.3s ease-in;
  }
}

@media screen and (max-width: 460px) {
  .app{
    gap:18vh;
  }

  #sobre-mi,
  #proyectos,
  #tecnologias {
    scroll-margin-top: 22vh;
  } 

  /* Hero */
  .img-container {
    height: 160px;
    width: 160px;
  }

  /* About me */

  .about-me-description {
    width: 90%;
  }

  /* Projects */

  .project img {
    height: auto;
    width: 100%;
  }

  /* Contact */
  .contact {
    height: 100px;
  }

  .contact-container {
    width: 230px;
    height: 90px;
    top: 50px;
  }

  /* Footer */

  footer {
    min-height: 30vh;
  }

  .social-network-icons a {
    width: 40px;
    height: 40px;
  }

  .social-network-icons i {
    font-size: 1.1rem;
  }
}
