* {
  /* Estilos que se aplicarán a todos los elementos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  min-width: 100%;
  min-height: 100%;
  color: #544;
  background-color: #f5f6f7;
}

h1 {
  color: #000;
  font-family: 'Black Ops One', cursive;
  font-size: 3.2em;
  line-height: 1.1;
}
